In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os 
import glob
import sys
from datetime import datetime, timedelta

In [2]:
path = "/Users/andreas/phys/master/GRB/ASIM/COEFS/BGO/"

In [7]:
coef_filenames = glob.glob(path + "*.txt")

In [9]:
pd.read_csv(coef_filenames[0],)

     DAU 3 CH 1
0     DATE        TIME      a         b         c   ...
1     04-Jun-2018 00:01:21  -0.000637 19.6818    -10...
2     04-Jun-2018 12:01:34  -0.000638 19.6832    -10...
3     05-Jun-2018 00:01:48  -0.000641 19.6731    -10...
4     05-Jun-2018 12:02:01  -0.000599 19.5929    -9....
...                                                 ...
2175  18-Jun-2021 20:22:13  -0.003733 24.8771     6....
2176  19-Jun-2021 08:22:27  -0.003729 24.8611     3....
2177  19-Jun-2021 20:22:40  -0.003648 24.7282     4....
2178  20-Jun-2021 08:22:54  -0.003626 24.6898     1....
2179  20-Jun-2021 20:23:07  -0.003581  24.613     3....

[2180 rows x 1 columns]