In [42]:
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
%run read_matlab_file.ipynb
%run convert_erg.ipynb
%run safety_time.ipynb

read_matlab_file.ipynb loaded
read_matlab_file.ipynb loaded
convert_erg.ipynb loaded
read_matlab_file.ipynb loaded
read_matlab_file.ipynb loaded
convert_erg.ipynb loaded

# TODO

-Problem: with convert_erg(): It uses the dau array from GRB200415 (?). Should be assigned to the specific GRB! 
SOLUTION: pass in dau and det as arguments!


Rebin the data based on given energy interval, subtract background in the given energy interval.

Implement in this script the previous functions that implement: absolute time correction, energy calibration, flagging of events

Should have the dataset that have implemented the functions above

In [43]:
df = complete_df("GRB190206")
print(df.shape)
df.head()

Absolute time correction subtracted from tus array and T0
24587
24587
24587
erg converted to keV
df sorted by adr and tus
safety time events flagged
found 287 flags
(24587, 11)

,tus,erg,typ,adr,dau,det,keV,cal_abc,st,dt,flag
16,-491943.976667,299,0,1,1,1,2998.481096,"0.004946, 8.3696, 53.79335",12.993924,NaN,False
17,-491803.948889,1815,0,1,1,1,31537.854200,"0.004946, 8.3696, 53.79335",25.615142,140.027778,False
19,-491737.948889,260,0,1,1,1,2564.238950,"0.004946, 8.3696, 53.79335",11.256956,66.000000,False
54,-488456.782222,1057,0,1,1,1,14426.374104,"0.004946, 8.3696, 53.79335",21.000000,3281.166667,False
84,-485219.698889,37,0,1,1,1,370.239624,"0.004946, 8.3696, 53.79335",0.000000,3237.083333,False

In [ ]:
keV,cal_abc = convert_erg(erg,T0)

In [40]:
def complete_df(grb_id):
    if len(trig_dict_HED[grb_id])>1:
        return print("long grb, handle later")
    else:
        tus, erg, typ, adr, dau, det, T0 = read_matlab_file_with_BGO_data(trig_dict_HED[grb_id][0])
        keV,cal_abc = convert_erg(erg, dau, det, T0)
        print("erg converted to keV")
        df = create_df(tus,erg,typ,adr,dau,det,keV,cal_abc)
        df = df.sort_values(by=['adr','tus']) #important to sort first by the adr then tus --> Handling the triggers in each detector seperate
        print("df sorted by adr and tus")
        #Creating columns for st, dt and flag
        st_list = get_st(df)
        df["st"] = st_list
        
        dt_list = get_dt(df)
        df["dt"] = dt_list
        
        flag = get_flag(df) #should also flag fast events!
        df["flag"] = flag
        
        print("safety time events flagged." + "found " + str(sum(df["flag"].to_numpy())) + " flags")
        print( )
        return df

In [27]:
print(len(dau))

14494

In [39]:
sum(df["flag"].to_numpy())

287